@import "inter-ui";
@import "./globals.scss";

/* Has to be disabled in order for preview to render. */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;

    font-family: Inter, Arial, Helvetica, sans-serif;
    color: $font;

    box-sizing: border-box;
}

body {
    background-color: $bg;
}
